:root {
    /****** BOXSHADOW ******/
    --slider-boxshadow: 0 0 20px 0 rgba(87, 167, 112, 0.50);
    --animal-card-boxshadow: 0 7px 29px 0 rgba(100, 100, 111, 0.50);

    /****** ANIMALS MEDIA QUERIES ******/
    --animals-tablet: 43.75rem;
}

img:not(.hero) {
    object-position: center center;
    object-fit: cover;
}

.menu_profile:has(a:hover) .underline_text {
    text-decoration: underline;
}

.select_form {
    /* Désactive l'apparence par défaut de Safari/Chrome */
    -webkit-appearance: none;

    /* Positionne l'icône personnalisée */
    background-image: url('../../img/svg/arrow-select.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

@media (min-width:theme('--breakpoint-lg')) {
    a.active_btn > span {
        color: white;
    }
}
