:root {
    /****** BOXSHADOW ******/
    --slider-boxshadow: 0 0 20px 0 rgba(87, 167, 112, 0.50);
}

@layer base {

    /****** SLIDER ******/
    .slider_selector::-webkit-scrollbar {
        display: none;
    }

    .slider_item_selector:not(:first-child)::before {
        content: "";
        width: 1px;
        height: 6rem;
        background-color: var(--color-gray-100);
        position: absolute;
        left: -3rem;
        transform: translateY(50%);
    }

    .slider_btn_selector {
        height: 1rem;
        width: 1rem;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray-200);
        border-radius: 100%;
        transition: all ease-in-out 200ms;
    }

    @media (min-width: 84.375rem) {
        .slider_btn_selector {
            display: none;
        }
    }

    .slider_btn_selector:hover, .slider_btn_selector:active {
        cursor: pointer;
        border-radius: 1rem;
        background-color: var(--color-green-500);
        border-color: var(--color-green-500);
    }

    .slider_btn_selector.active {
        width: 2rem;
        border-radius: 1rem;
        background-color: var(--color-green-500);
        border-color: var(--color-green-500);
    }


    /****** ACCORDION ******/

    .accordion_selector.open ~ .accordion_content_selector {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem 1.5rem 1rem;
        height: auto;
    }

    .accordion_selector:not(.open) ~ .accordion_content_selector > picture {
        display: none;
    }

    .accordion_selector svg {
        transition: all ease-in-out 200ms;
    }

    .accordion_selector.open svg {
        transform: rotate(180deg);
    }

    .accordion_selector.close svg {
        transform: rotate(0deg);
    }

    .accordion_selector:not(.open) ~ .accordion_content_selector {
        height: 0;
        overflow: hidden;
    }

    img{
        max-height: 360px;
        object-position: center center;
        object-fit: cover;
    }
}
