@layer base {
    :root {
        --text-sm: 0.75rem;
        --text-sm--line-height: 1.125rem;
        --text-base: 1rem;
        --text-base--line-height: 1.375rem;
        --text-lg: 1.375rem;
        --text-lg--line-height: 1.75rem;
        --text-xl: 1.75rem;
        --text-xl--line-height: 2.125rem;
        --text-2xl: 2.125rem;
        --text-2xl--line-height: 2.5rem;
        --text-3xl: 2.5rem;
        --text-3xl--line-height: 3rem;
    }

    @media (min-width: 1400px) {
        :root {
            --text-sm: 0.875rem;
            --text-sm--line-height: 1.25rem;
            --text-lg: 1.5rem;
            --text-lg--line-height: 1.875rem;
            --text-xl: 2rem;
            --text-xl--line-height: 2.375rem;
            --text-2xl: 2.5rem;
            --text-2xl--line-height: 2.875rem;
            --text-3xl: 3rem;
            --text-3xl--line-height: 3.375rem;
        }
    }
}
