/* BACKGROUND BODY */
body:not(.admin) {
    background-image: url("../../img/svg/background/bg-image-mobile.svg");
    background-repeat: repeat;
    background-position: top center;
    background-size: 100%;
}

@media (min-width: 93.75rem) {
    body {
        background-size: max(110rem);
        background-repeat: repeat-y;
        background-image: url("../../img/svg/background/bg-image-desktop.svg");
    }
}

/* ANIMALS : CATS */
.animals::before {
    content: url("../../img/svg/animals/cat-mobile.svg");
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: -4.6875rem;
}

@media (min-width: 52.125rem) {
    .animals::before {
        right: 0;
        left: 1rem;
    }
}

@media (min-width: 93.75rem) {
    .animals::before {
        top: -6.9375rem;
        content: url("../../img/svg/animals/cat-desktop.svg");
    }
}

/* ANIMALS : DOGS */

.dogs::before {
    content: url("../../img/svg/animals/dogs-mobile.svg");
    display: inline-block;
    position: absolute;
    left: 1.5rem;
    top: -3.5rem;
}

@media (min-width: 52.125rem) {
    .dogs::before {
        content: url("../../img/svg/animals/dogs-tablet.svg");
        left: 3rem;
        top: -4.6875rem;
    }
}

@media (min-width: 93.75rem) {
    .dogs::before {
        content: url("../../img/svg/animals/dogs-desktop.svg");
        left: 12rem;
        top: -7rem;
    }
}
