.nav__container--public {
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-50);
    padding: 12.5rem 1.5rem 2.5rem 1.5rem;
    position: fixed;
    z-index: 40;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    transition: all ease-in-out 200ms;
}

.nav__container--admin {
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-50);
    padding: 6.75rem 1.5rem 2.5rem 1.5rem;
    position: fixed;
    z-index: 40;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    transition: all ease-in-out 200ms;
}

@media (min-width: theme('--breakpoint-md')) {
    .nav__container--public {
        position: initial;
        height: auto;
        background-color: transparent;
        padding: 0;
    }
}

@media (min-width: theme('--breakpoint-lg')) {
    .nav__container--admin {
        position: initial;
        background-color: transparent;
        padding: 0;
    }
}


.bg-menu:not(:checked) ~ .nav__container--admin, .bg-menu:not(:checked) ~ .nav__container--public {
    left: -100%;
}

.bg-menu:checked ~ .nav__container--admin, .bg-menu:checked ~ .nav__container--public {
    left: 0;
}

.bg-menu-label {
    border: 1px solid transparent;
    transition: all ease-in-out 200ms;
    border-radius: 100%;
}

.bg-menu-label:hover, .bg-menu-label:active {
    background-color: var(--color-gray-50);
    border-color: var(--color-gray-200);
    border-radius: .5rem;
}

.bg-menu-label rect {
    transform-origin: center center;
    transition: all ease-in-out 200ms;
}

.bg-menu:checked ~ .bg-menu-label rect:nth-of-type(1) {
    transform: rotate(45deg) translateY(25%);
}

.bg-menu:checked ~ .bg-menu-label rect:nth-of-type(2) {
    transform-origin: center;
    transform: scale(0);
}


.bg-menu:checked ~ .bg-menu-label rect:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-25%);
}
