@font-face {
    font-family: "Mona Sans";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("../../fonts/MonaSans-VariableFont_wdth,wght.ttf") format("truetype");
}
